.toDoAdder{
    border: solid;
    border-color: #555555;
    border-radius: 3px;
}
.button{
    background-color: #EC994B;
    color: #F1EEE9;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 3px;
}
.addInput {

}
.addInput:focus {
    border: 3px solid #555;
    background-color: #EC994B;
}
.addForm{
    color: #F1EEE9;
}