.aboutNavBar{
    background-color: #67AB47;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 4px;
}
.toDoLogo{
    color: white;
    padding: 1rem;
}
.aboutNavLink{
    color: white;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 4px;
    padding: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.aboutNavLink:hover{
    color: #555555;
    border: 1px solid #555555;
}

